// typography
.text-center {
  text-align: center;
}

.title {
  padding: 2rem 0;
  text-align: center;
  font-size: 2rem;
}

.hovered-link:hover {
  text-decoration: underline;
}

// sizing
.w-full {
  width: 100%;
}

// positioning
.center {
  display: grid;
  justify-content: center;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.px-3 {
  padding: 0 1rem;
}
