<mat-toolbar>
  <div class="w-full mobile">
    <div class="toolbar">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="open menu button">
        <mat-icon>more_vert</mat-icon>
      </button>

      <div class="toolbar__logo">Medium</div>
    </div>

    <mat-menu #menu="matMenu">
      <a [routerLink]="['/']" mat-menu-item>Home</a>

      <ng-container *ngIf="currentUser$ | async as currentUser; else mobileAuthLinks">
        <a [routerLink]="['/articles/new']" mat-menu-item>New Post</a>
        <a [routerLink]="['/settings']" mat-menu-item>Settings</a>
        <a [routerLink]="['/profiles', currentUser.username]" mat-menu-item>
          <div class="toolbar__items-center">
            <img *ngIf="currentUser.image" [src]="currentUser.image" alt="profile picture" class="toolbar__user-image" />
            <span>
              {{ currentUser.username }}
            </span>
          </div>
        </a>

        <div (click)="onLogout()" mat-menu-item>
          <div class="toolbar__items-center">
            <button mat-icon-button>
              <mat-icon>power_settings_new</mat-icon>
            </button>
            <span>Logout</span>
          </div>
        </div>
      </ng-container>

      <ng-template #mobileAuthLinks>
        <a [routerLink]="['/authentication/login']" mat-menu-item>Login</a>
        <a [routerLink]="['/authentication/register']" mat-menu-item>Register</a>
      </ng-template>
    </mat-menu>
  </div>

  <div class="w-full container-max-w-lg desktop">
    <div class="toolbar">
      <div class="toolbar__logo">Medium</div>

      <ul class="toolbar__desktop-list">
        <li>
          <a [routerLink]="['/']" class="toolbar__desktop-link">Home</a>
        </li>

        <ng-container *ngIf="currentUser$ | async as currentUser; else authLinks">
          <li>
            <a [routerLink]="['/articles/new']" class="toolbar__desktop-link">New Post</a>
          </li>

          <li>
            <a [routerLink]="['/settings']" class="toolbar__desktop-link">Settings</a>
          </li>

          <li [routerLink]="['/profiles', currentUser.username]" mat-ripple>
            <a class="toolbar__desktop-link">
              <img *ngIf="currentUser.image" [src]="currentUser.image" alt="profile picture" class="toolbar__user-image" />
              <span>
                {{ currentUser.username }}
              </span>
            </a>
          </li>

          <li>
            <button (click)="onLogout()" mat-icon-button>
              <mat-icon>power_settings_new</mat-icon>
            </button>
          </li>
        </ng-container>

        <ng-template #authLinks>
          <li><a [routerLink]="['/authentication/login']" class="toolbar__desktop-link">Login</a></li>
        </ng-template>
      </ul>
    </div>
  </div>
</mat-toolbar>
